argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
beautifulsoup4==4.11.1
black==22.3.0
bleach==5.0.0
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.0.0
colorama==0.4.4
cramjam==2.5.0
cycler==0.11.0
cymem==2.0.6
dalex==1.4.1
dask==2022.4.2
defusedxml==0.7.1
fastjsonschema==2.15.3
fastparquet==0.8.1
flashtext==2.7
fonttools==4.32.0
fsspec==2022.3.0
funcy==1.17
future==0.18.2
gensim==4.2.0
icecream==2.1.2
idna==3.3
imgkit==1.2.2
ipython-genutils==0.2.0
ipywidgets==7.7.0
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.4.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
langcodes==3.3.0
locket==1.0.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mistune==0.8.4
mock==4.0.3
murmurhash==1.0.7
mypy-extensions==0.4.3
nb-black==1.0.7
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nltk==3.7
notebook==6.4.11
numexpr==2.8.1
numpy==1.22.3
pandas==1.4.2
pandocfilters==1.5.0
partd==1.2.0
pathspec==0.9.0
pathy==0.6.1
patsy==0.5.2
Pillow==9.1.0
platformdirs==2.5.2
plotly==5.7.0
preshed==3.0.6
prometheus-client==0.14.1
py4j==0.10.9.3
pyarrow==7.0.0
pycparser==2.21
pydantic==1.8.2
pyLDAvis==3.3.1
Pyphen==0.10.0
pyrsistent==0.18.1
pyspark==3.2.1
pytz==2022.1
PyYAML==6.0
pyzmq==19.0.2
regex==2022.4.24
requests==2.27.1
scattertext==0.1.6
scikit-learn==1.0.2
scikit-learn-extra==0.2.0
scipy==1.8.0
seaborn==0.11.2
Send2Trash==1.8.0
sklearn==0.0
smart-open==5.2.1
soupsieve==2.3.2.post1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacy-syllables==3.0.1
spacytextblob==4.0.0
srsly==2.4.3
statsmodels==0.13.2
swifter==1.1.3
tenacity==8.0.1
terminado==0.13.3
textblob==0.15.3
textstat==0.7.3
thinc==8.0.15
threadpoolctl==3.1.0
tinycss2==1.1.1
tomli==2.0.1
toolz==0.11.2
tqdm==4.64.0
typer==0.4.1
typing_extensions==4.2.0
urllib3==1.26.9
wasabi==0.9.1
webencodings==0.5.1
widgetsnbextension==3.6.0
wkhtmltopdf==0.2
wordcloud==1.8.1
xgboost==1.6.0
yellowbrick==1.4
